#!/usr/bin/env sh

set -o errexit -o nounset

# whonix: https://www.kicksecure.com/wiki/Secure_Downloads#curl
# tail: https://gitlab.tails.boum.org/tails/tails/-/blob/master/config/chroot_local-includes/usr/local/bin/curl

username=curl-$(head -c 12 /dev/urandom | xxd -p)
ALL_PROXY="socks5://${username}:0@{{ tor_localhost }}:{{ tor_curl_port }}"
export ALL_PROXY

exec /usr/bin/curl --tlsv1.3 "$@"
