# iwd (tested on v1.30) offer the worse randomization possible
# AddressRandomizationRange=nic only randomize 1 octet
# AddressRandomization=once has no effect...

# iwd (with systemd) block completely udevd by renaming interface.
# https://iwd.wiki.kernel.org/interface_lifecycle#udev_interface_renaming
[General]
AddressRandomization=network
AddressRandomizationRange=full

[Scan]
DisablePeriodicScan=true
